<img src=" <%= @investor["logo_url"] %>" alt="">  

<h1><%= @investor_ratings_only.first["to_char"]  %>  </h1>
<p>Website: <a href= <%= @investor["url"]%> > <%= @investor["name"]%></a> </p>
<p>Portfolio size: <%= @investor["portfolio_size"]%> </p>
<p>FUM: $<%= @investor["fum"]%>M </p>
<p>Type of fund: <%= @investor["type"]%> </p>


<h1>RATINGS & REVIEWS</h1>

<% if @all_investor_ratings %>
  <% @all_investor_ratings.each do |investor_id| %>
        <h3><%= investor_id["rating"] %> </h3>
        <p><%= investor_id["review"] %> </p> 
  <% end %>
<% else %>
    <h2>There are no ratings! Leave one below...</h2>    
<% end %>


<h2>Leave your rating and review!</h2>


  <% if logged_in? %>

    <form action="/rate_review" method="post">
      <input type="hidden" name="_method" value="post">
      <input type="hidden" name="id" value="<%=@investor_ratings["id"]%>">
      <input type="hidden" name="investor_id" value="<%=@investor["id"]%>">



      <label for="">Overall rating, scale between 1-5:</label><br>
      <select type="text" name="rating" value="<%= @investor_ratings["rating"] %>  ">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
      </select><br>
      <label for="">Review</label><br>
      <textarea type="text" name="review" value="<%= @investor_ratings["review"] %>" rows="10" cols="50">
        Write your review here.
      </textarea><br>
      <button>Submit</button>
    </form>


  <%= @investor[:name] %>
  <% else %>
    <p>Looks like you're not logged in. <br> 
    <a href="/signup">Sign up</a> to leave your rating. <br> Already signed-up? <a href="/login">Log in</a> </p>
  <% end %>

<h3>Oops! Did we get the informaton wrong? <br>Help us update it...</h3>
<% if logged_in? %>
  <form action="/update_investor" method="post">
    <input type="hidden" name="_method" value="patch">
    <input type="hidden" name="id" value="<%=@investor["id"]%>">


    <label for="">name</label><br>
    <input type="text" name="name" value="<%=@investor["name"]%>  " ><br>
    <label for="">url</label><br>
    <input type="text" name="url" value="<%=@investor["url"]%>"><br>
    <label for="">logo url</label><br>
    <input type="text" name="logo_url" value="<%=@investor["logo_url"]%>  " ><br>
    <label for="">Portfolio Size</label><br>
    <input type="text" name="portfolio_size" value="<%=@investor["portfolio_size"]%>"><br>
    <label for="">Funds Under Management (FUM)</label><br>
    <input type="text" name="fum" value="<%=@investor["fum"]%>"><br>
    <label for="">Investor Type</label> <br>
    <select type="text" name="type" value="<%=@investor["type"]%>">
      <option value="Angel Group">Angel Group</option>
      <option value="Angel Individual">Angel Individual</option>
      <option value="Family Office">Family Office</option>
      <option value="Equity Crowd Source Funding">Equity Crowd Source Funding</option>
      <option value="Venture Capital Firm">Venture Capital Firm</option>
    </select><br>
    <button>Update</button>
  </form>

<% else %>
  <p>Looks like you're not logged in. <br> 
  <a href="/signup">Sign up</a> to leave your rating. <br> Already signed-up? <a href="/login">Log in</a> </p>
<% end %>



<h3>Want to delete this investor? </h3>
<% if logged_in? %>
  <form action="/delete_investor" method="post">
    <input type="hidden" name="_method" value="delete">
    <input type="hidden" name="id" value="<%= @investor["id"]%>">
    <button>delete</button>
  </form>

<% else %>
  <p>Looks like you're not logged in. <br> 
  <a href="/signup">Sign up</a> to leave your rating. <br> Already signed-up? <a href="/login">Log in</a> </p>
<% end %>
