<img src=" <%= @investor["logo_url"] %>" alt="">  

<p>Visit <a href= <%= @investor["url"]%> > <%= @investor["name"]%></a>'s site. </p>
<p>Portfolio size: <%= @investor["portfolio_size"]%> </p>
<p>FUM: $<%= @investor["fum"]%>M </p>


<h1>RATINGS & REVIEWS</h1>


<h3>2</h3>
<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Suscipit quas quo dicta sit? Asperiores architecto quia beatae quas pariatur provident? Quia quisquam, eligendi nihil dolor alias adipisci neque dignissimos temporibus!</p>

<h3>4</h3>
<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatem corporis quas illo! Quis dignissimos iure sequi nisi. Ratione, dolore! Accusantium, est quo. Vel recusandae porro deleniti et sapiente, pariatur nulla!</p>

<h3>3</h3>
<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Obcaecati cupiditate inventore nemo incidunt corrupti ducimus ad rem, distinctio ullam rerum totam repudiandae possimus eum sint temporibus ipsam, consectetur deleniti perspiciatis?</p>



<form action="/rate_review" method="post">
  <input type="hidden" name="_method" value="post">
  <input type="hidden" name="id" value="<%=@investor_ratings["id"]%>">
  <input type="hidden" name="investor_id" value="<%=@investors["id"]%>">
  <input type="hidden" name="user_id" value="<%=@user["id"]%>">
  <label for="">Overall rating, scale between 1-5:</label>
  <select type="text" name="rating" value="<%= @investor_ratings["rating"] %>  ">
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>
  </select><br>
  <label for="">Review</label>
  <textarea type="text" name="review" value="<%= @investor_ratings["review"] %>" rows="10" cols="50">
    Write your review here.
  </textarea>
  <button>Submit</button>
</form>

<%= @investor[:name] %>
<%= @investor[:name] %>


<h3>Oops! Did we get the informaton wrong? Help us update it...</h3>
<form action="/update_investor" method="post">
  <input type="hidden" name="_method" value="patch">
  <input type="hidden" name="id" value="<%=@investor["id"]%>">
  <label for="">name</label><br>
  <input type="text" name="name" value="<%= @investor["name"] %>  " ><br>
  <label for="">url</label><br>
  <input type="text" name="url" value="<%= @investor["url"] %>"><br>
  <label for="">logo url</label><br>
  <input type="text" name="logo_url" value="<%= @investor["logo_url"] %>  " ><br>
  <label for="">Portfolio Size</label><br>
  <input type="text" name="portfolio_size" value="<%= @investor["portfolio_size"] %>"><br>
  <label for="">Funds Under Management (FUM)</label><br>
  <input type="text" name="fum" value="<%= @investor["fum"] %>"><br>
  <button>Update</button>
</form>

<%= @investor[:name] %>

<h3>Want to delete this investor? </h3>
<form action="/delete_investor" method="post">
  <input type="hidden" name="_method" value="delete">
  <input type="hidden" name="id" value="<%= @investor["id"]%>">
  <button>delete</button>
</form>
