
<h1>Welcome, <%= current_user["email"] %>!</h1>
<br>
<h2>Total submissions: <span class="total-submissions"> <%= @list_all_user_ratings_reviews.to_a.length %> </span>    </h2>
<br>
<h2>Your list of ratings and reviews:</h2>
<br>
<% @list_all_user_ratings_reviews.each do |investor_rating| %>

<br>
  <h4><%= find_one_investor(investor_rating["investor_id"])["name"] %>
  <br>
  <br>
  <h4 class = "individual-rating"><%= investor_rating["rating"] %> </h4>
  <p><%= investor_rating["review"] %> </p> 

  <% if investor_rating["user_id"] == session[:user_id] %>
  <form class="my-delete" action="/delete_rating" method="post">
    <input type="hidden" name="_method" value="delete">
    <input type="hidden" name="id" value="<%= investor_rating["id"]%>">
    <button>delete</button>
  </form>
  <% end %>

<% end %>

<p class="" >Have more investors to rate? <a href="/investors">click here</a> </p>